body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
}

main {
    max-width: 1000px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-wrap: wrap;
}

.form-control > * {
    width: 100%;
    margin: .5rem;
}

input {
    color: black;
    background-color: #b8b8b8;
    border: none;
    padding: .5rem;
    border-radius: 4px;
    box-shadow: 0 3px 0 0 #555555;
}

input:focus {
    background-color: rgba(92, 106, 176, .2);
    transition: background-color 2s;
}

button {
    margin: .5rem;
    color: black;
    border: none;
    background-color: #54daff;
    border-radius: 5px;
    padding: .5rem;
    box-shadow: 0 3px 0 0 #29afd1;
}

button:hover {
    cursor: pointer;
    background-color: #68eeff;
}

button:active {
    outline: none;
    box-shadow: none;
}

.emojis {
    display: flex;
}

.badge {
    flex: 0 0 auto;
    display: flex;
    padding: 4px;
    margin: 3px;
    font-size: 16px;
    font-family: sans-serif;
    align-items: center;
    background-color: #54f555;
    border: 3px solid #24b524;
    border-radius: 4px;
    width: auto;
}

.badge:hover {
    transform: scale(1.05);
    transition: transform .1s;
}

.badge span {
    margin: 3px;
}

.badge.invisible {
    background-color: #ff7271;
    border: 3px solid #ff3c3a;

}
