@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main h4 {
    width: 100%;
}

.open-config {
    background-color: #54daff;
    border-radius: 5px;
    padding: .5rem;
    box-shadow: 0 3px 0 0 #29afd1;
}

.open-config:hover {
    cursor: pointer;
    background-color: #68eeff;
}

.open-config:active {
    box-shadow: none;
}

#card-wraper {
    min-width: 100%;
    padding: 1rem;
}

.card {
    font-size: 17px;
    padding: 5px 10px;
    background-color: #54f555;
    border: 3px solid #24b524;
    border-radius: 4px;
    margin: .5rem;
}

.card:hover {
    box-shadow: 0 0 2px 4px rgba(0, 0, 0, .1);
    transition: box-shadow .2s;
}

.card:active {
    outline: none;
    transform: scale(.9);
    transition: transform .1s;
}

.center {
    text-align: center;
}

footer {
    position: fixed;
    display: none;
    width: 100vw;
    line-height: 64px;
    background-color: #212121;
    color: white;
    bottom: 0;
    animation-name: ease-in;
    animation-duration: 0.1s;
    animation-timing-function: ease-in;
}

footer span {
    margin: 0 15px;
}

.red-text {
    color: #f44336;
}

.right {
    float: right;
}

#dispensar-link {
    cursor: pointer;
}

@keyframes ease-in {
    0% {
        bottom: -64px;
    }
    100% {
        bottom: 0;
    }
}

